
/* Container */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #2a1a4a, #3b1e68);
}

/* Square Card */
.reset-password-card {
  background: rgba(30, 15, 50, 0.9);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  width: 350px;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.reset-password-card h2 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

/* Input Field */
.reset-password-input {
  width: 100%;
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background: rgba(60, 30, 100, 0.5);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.15);
  margin-top: 40px; 
  margin-bottom: 15px; 
}

/* Show Password Button  */
.show-password-btn {
  width: auto; 
  padding: 6px 14px;
  background: transparent;
  border: 1px solid #b8a9ff;
  color: #b8a9ff;
  font-size: 0.85rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center; 
  margin-bottom: 25px; 
}

.show-password-btn:hover {
  background: rgba(184, 169, 255, 0.2);
}

/* Reset Password Button */
.reset-password-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #caa8ff, #9b72ff);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(175, 135, 255, 0.3);
  margin-top: 25px;
}

/* Hover Effect */
.reset-password-btn:hover {
  background: linear-gradient(to right, #916cff, #693bff);
}
